.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_ad {
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;

}
.checkout_ad {
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}

/* const index = state.basket.findIndex((basketItem)=> {
    return basketItem.id === action.payload.id
 });
 
 let newBasket = [...state.basket];

 if(index >= 0 ){
     newBasket.splice(index,1);
 } else{
     console.warn("cannot remove Product as it is not in the basket")
 }
 return {
     ...state,
     basket: newBasket
 } */